.pokedex {
    width: 100vw;
    height: 100vh;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: #f0f0f0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pokedex__info {
    width: 90%;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    background: url(../../../assets/cuadro_dialogo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pokedex__info h2 {
    width: 80%;
    max-width: 340px;
    line-height: 1.5;
    text-align: center;
    font-size: 1rem;
}

.pokedex__title {
    color: #F10B31;
    font-size: 1.3rem;
    line-height: 1.5;
}

.pokedex__form {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.pokedex__form form {
    box-shadow: 0px 2px 2px .01px #949494ad;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 40%;
}

.pokedex__form select {
    min-width: 300px;
    width: 40%;
    height: 2.5rem;
    color: rgb(102, 102, 102);
    border: 1px solid #dfdfdf;
    background-color: #fffefe;
    box-shadow: 0px 2px 2px .01px #949494ad;
}

.pokedex__form input {
    border: 1px solid #dfdfdf;
    background-color: #fffefe;
    height: 2.5rem;
    padding-left: 5px;
    color: rgb(102, 102, 102);
    font-family: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    width: 70%;
    border-radius: 5px 0 0 5px;
}

.pokedex__form button {
    background-color: #F10B31;
    border: none;
    height: 2.5rem;
    width: 30%;
    font-size: 1.3rem;
}

.pokedex__container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}